.container-login {
    display: flex;
    height: 90vh;
    justify-content: center;
    background-color:white;
}

.container-login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 30vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.container-login__form__title {
    color:#92A575;
    font-size: 2rem;
}

.container-login__form__input {
    margin: 10px 0 !important;
    width: 30vw !important;
}

.container-login__form__button {
    margin-top: 20px !important;
    border-color: rgb(255, 111, 59) !important;
    color: rgb(255, 111, 59) !important;
}

/*.container-login__form__input__row {
     width: 14.5vw !important; 
}*/

.spacer {
    display: inline-block;
    width: 1vw;
}